body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: seagreen;
    background: url(bg.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.Sign-Up{
    width: 420px;
    color: aliceblue;
    border: 2px solid rgba(255, 255 ,255, .2);
    background: transparent;
    border-radius: 10px;
    padding: 30px 40px;

}
.Sign-Up h1{
    font-size: 36;
    text-align: center;
}
.Sign-Up .inp-box{
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0;
}
.inp-box input{
    width: 400px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255 ,255, .2);
    border-radius: 40px;
    color: #fff;
}
.inp-box input::placeholder{
    color: #fff;
    font-size: larger;
}
.Sign-Up .btn{
    width:100%;
    height:45px;
    background: #fff;
    border-radius: 40px;
    font-size: 16px;
    color:#333;
    font-weight: 600;

}